


<label>
  Name Form Control:
  <input type="text">
</label>

<br /><br />



<h4>Form Group <span *ngIf="false" class="error-header">INVALID</span></h4>
<form>

  <label>
    First Name:
    <input type="text">
  </label>

  <br /><br />


  <label>
    Email:
    <input type="text">
  </label>

  <br /><br />

  <label>
    Dietary preferences:
    <select id="dietaryPreferences">
      <option *ngFor="let pref of dietaryPrefOpts" [ngValue]="pref">{{ pref }}</option>
    </select>
  </label>

  <br /><br />

  <label>
    <input type="checkbox">
    Married
  </label>

  <br /><br />

  <div>
    Age range:

    <div *ngFor="let range of ageRangeOpts">
      <label>
        <input type="radio" value="{{range}}">
        <span>{{range}}</span>
      </label>
    </div>

  </div>

  <br /><br />

  <h4>Addresses</h4>
  <button>Add</button>

  <div>

    <h4>#0</h4>

    <div>
      <label>
        Building:
        <input type="text">
      </label>
    </div>

    <div>
      <label>
        Street:
        <input type="text">
      </label>
    </div>

    <div>
      <label>
        City:
        <input type="text">
      </label>
    </div>

    <div>
      <label>
        Zip:
        <input type="text">
      </label>
    </div>

    <button>Remove</button>

  </div>

</form>
