


<label>
  Name Form Control:
  <input type="text" [formControl]="name">
</label>

<p *ngIf="name.errors && name.errors.required" class="error-text">
  Required
</p>


<br /><br />



<h4>Form Group <span *ngIf="form2 && !form2.valid" class="error-header">INVALID</span></h4>
<form [formGroup]="form2">

  <label>
    First Name:
    <input type="text" formControlName="fullName">
  </label>

  <p *ngIf="form2.get('fullName').errors && form2.get('fullName').errors.required" class="error-text">
    Required
  </p>

  <br /><br />


  <label>
    Email:
    <input type="text" formControlName="email">
  </label>

  <p *ngIf="form2.get('email').errors && form2.get('email').errors.email" class="error-text">
    Not a valid email
  </p>

  <br /><br />

  <label>
    Dietary preferences:
    <select id="dietaryPreferences" formControlName="dietaryPreferences">
      <option *ngFor="let pref of dietaryPrefOpts" [ngValue]="pref">{{ pref }}</option>
    </select>
  </label>

  <div *ngIf="form2.controls.dietaryPreferences.pending">
    <app-spinner></app-spinner>
  </div>

  <p *ngIf="form2.controls.dietaryPreferences.errors && form2.controls.dietaryPreferences.errors.dietaryPreference" class="error-text">
    Sorry, no more left :(
  </p>

  <br /><br />

  <label>
    <input type="checkbox" formControlName="isMarried">
    Married
  </label>

  <br /><br />

  <div>
    Age range:

    <div *ngFor="let range of ageRangeOpts">
      <label>
        <input type="radio" value="{{range}}" formControlName="ageRange">
        <span>{{range}}</span>
      </label>
    </div>

    <p *ngIf="form2.controls.ageRange.errors && form2.controls.ageRange.errors.legalAge" class="error-text">
      Must be of legal age
    </p>

  </div>

  <br /><br />

  <h4>Addresses</h4>
  <button (click)="addAddress()">Add</button>

  <div *ngFor="let address of addresses.controls; let i = index">

    <h4>#{{i}}</h4>

    <div formArrayName="addresses">
      <div [formGroupName]="i">
        <label>
          Building:
          <input type="text" formControlName="building">
        </label>
      </div>
    </div>

    <div formArrayName="addresses">
      <div [formGroupName]="i">
        <label>
          Street:
          <input type="text" formControlName="street">
        </label>
      </div>
    </div>

    <div formArrayName="addresses">
      <div [formGroupName]="i">
        <label>
          City:
          <input type="text" formControlName="city">
        </label>
      </div>
    </div>

    <div formArrayName="addresses">
      <div [formGroupName]="i">

        <label>
          Zip:
          <input type="text" formControlName="zip">
        </label>

        <p *ngIf="addresses.controls[i].controls.zip.errors && addresses.controls[i].controls.zip.errors.pattern" class="error-text">
          Invalid zip
        </p>

      </div>
    </div>

    <button (click)="removeAddress(i)">Remove</button>

  </div>

</form>

<!--<p>hand form value</p>-->
<!--<pre>VALUE: {{form.value | json}}</pre>-->

<p>builder form value</p>
<pre>VALUE: {{form2.value | json}}</pre>
